.book-details {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4em;
    border: 1px solid white;
}

.details-container {
    margin-inline-end: 1em;
}

.next-prev-book {
    margin-bottom: 2em;
    cursor: pointer;
}

.review-btn {
    font-size: 1.5em;
    border: 2px solid white;
    padding: 0.5em;
    cursor: pointer;
    transition: 0.2s;
}

.review-btn:hover {
    opacity: 0.8;
}

.book-details h2 {
    font-size: 3em;
}

.book-details h3 {
    font-size: 1.4em;
}

.book-details h2 span {
    font-weight: 200;
}

.book-details h3 span {
    font-weight: 200;
}

.book-details p {
    font-size: 1.4em;
    font-weight: 600;
}

.book-details p span {
    font-weight: 200;
}

.next-prev-book a {
    margin: 1em;
    font-size: 1.5em;
}

.next-prev-book a:hover {
    opacity: 0.8;
}

p span.read-more {
    cursor: pointer;
    font-weight: 600;
}