.filter-container > * > *{
    margin: 0.5em;
}

.filter-container {
    border: 1px solid lightslategray;
    border-radius: 10px;
    padding: 1em;
    align-items: center;
}

.price-filter, .name-filter {
    display: flex;
    align-items: center;
}