ul.books-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 15em));
    column-gap: 1.5em;
    row-gap: 1em;
}

ul.books-list li {
    padding: 0.7em;
    border: 1px solid lightgray;
    border-radius: 12px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    
}

h2 {
    margin-bottom: 0.5em;
}

img {
    margin-top: 2em;
    border-radius: 10px;
}

.book-preview {
    cursor: pointer;
    transition: 0.2s;
}

.book-preview:hover {
    opacity: 0.8;
}

.actions {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.actions > * {
    cursor: pointer;
}

button {
    color: white;
    background-color: transparent;
    border: 0;
}


h2 {
    text-transform: capitalize;
}